<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SpotifyApiBaseAddress" value="https://api.spotify.com/v1/"/>
    <add key="SpotifyClientId" value="0cef63544d2f47bf81501c5b595643fa"/>
    <add key="SpotifyClientSecret" value="cb56de9b91eb4d418f1fc89401c8054d"/>
  </appSettings>
</configuration>